* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  font-family: "Lato", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    180deg,
    #019789 0%,
    #019789 15%,
    #d9dbd5 15%,
    #d9dbd5 100%
  );
  background-repeat: no-repeat;
}
